<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tv.feets.jisho</string>
	<key>connections</key>
	<dict>
		<key>27A5A6EC-ED47-451A-A47F-D0B598A5EBB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11A91492-7074-4BEA-9A0F-B389849C957A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D9DF57A-5DF9-5DB9-AB88-88DAC6AD7FB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11A91492-7074-4BEA-9A0F-B389849C957A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Feets</string>
	<key>description</key>
	<string>Search Jisho.org</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jisho.org</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://jisho.org/search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11A91492-7074-4BEA-9A0F-B389849C957A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ji</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading definitions…</string>
				<key>script</key>
				<string>python3 entrypoint.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>entrypoint.py</string>
				<key>subtext</key>
				<string>Search for Japanese and English words</string>
				<key>title</key>
				<string>Jisho.org</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D9DF57A-5DF9-5DB9-AB88-88DAC6AD7FB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>じ</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>定義をロード中…</string>
				<key>script</key>
				<string>python3 entrypoint.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>entrypoint.py</string>
				<key>subtext</key>
				<string>日本語と英語の言葉を探す</string>
				<key>title</key>
				<string>Jisho.org</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>27A5A6EC-ED47-451A-A47F-D0B598A5EBB0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred workflow to easily search Jisho.org, a powerful Japanese-English online dictionary. It uses the Jisho.org API to retrieve search results and instantly display them within Alfred's search results.

Forked from https://github.com/janclarin/jisho-alfred under the MIT Licence and updated for Python 3</string>
	<key>uidata</key>
	<dict>
		<key>11A91492-7074-4BEA-9A0F-B389849C957A</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>27A5A6EC-ED47-451A-A47F-D0B598A5EBB0</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>7D9DF57A-5DF9-5DB9-AB88-88DAC6AD7FB1</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>github.com/feetstv</string>
</dict>
</plist>
